<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8"/>
<title>Banque</title>
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
<link rel="stylesheet" type="text/css" href="../static/css/myStyle.css" th:href="@{/css/myStyle.css}"/>

</head>
<body>
	<div layout:fragment="content">
	<div class="col-md-6 col-md-offset-3">
	<div class="panel panel-default">
              <div class="panel-heading main-color-bg">
                <h3 class="panel-title">Problème d'autorisation</h3>
              </div>
              <div class="panel-body">
                
                  <div class="text-danger">
					 Vous n'avez pas le droit d'accèder à cette ressource 
					</div>
                
              </div>
              </div>
	
	
	</div>	
	</div>
	
</body>
</html>